/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＊ページ全体
＊＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

body{
  margin: 0;
  /* ページ上部の青線・メイン画像・フッター灰色背景色を隙間無く表示できる */
  border-top: 7px solid #0086e9;
  /* ブルー。ページ上部の青い線はbody要素の上のボーダーとして表示させる */
  color: #000;
  background: #fff;
  /* 設定で、一般的ではない色になっている環境からの閲覧に備えて、body要素の文字色を黒に、背景色を白にしておく。スマホは屋外でも閲覧されるため黒い文字が見やすい。 */
  font-family: sans-serif;
  /* body要素にfontfamilyプロパティでsans-serifを指定しているのは、「初期設定が明朝体の環境」でもゴシック体で表示させるため */
}

main, #footlinks{
  margin: 1,2rem;
  /* メインとフッターには同じマージン（1,2rem）を指定するが、セレクタは「main」「footer」ではなく「main」「footlinks」となっている。これはpc表示指定において、メインは幅1000pxに固定し中央寄せ配置するのに対し、薄グレー背景を持つフッターは画面幅いっぱいに広げて表示させるためである。フッター内のコンテンツであるリンクをグループ化しているdiv要素（footlinks）は、main要素と同様に、幅1000pxに固定し中央寄せ配置するので、メインとフッターのマージン指定のセレクタは「main」「footlinks」としている。 */
}

a:link, a:visited{
  color: 0086e9;
}

a:hover{
  color: #000;
}/* カーソルを重ねた時、文字色を青→黒に変化させる */

h1, h2, h3{
  margin: 0;
  color: #000;
  line-height: 1;/* 行間を詰める */
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ ＊ヘッダー
＊＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

header{
  margin-top: 36px;/* ロゴ画像の表示位置調整。ロゴ画像が左上に余白の無い状態で、左上の隅っこにぴっちりくっついて配置されている⇨ヘッダー要素の上マージンを指定して、ロゴの上に余白を設ける*/
   text-align: center;/* ロゴ表示位置を中央に調整 */
}

#logo img{
  vertical-align: bottom;/* 画像下の隙間（インライン要素のディセンダ領域）を消すための指定「HTML5+CSS3教科書p 167：インライン要素の縦位置の指定」参照 */
}

nav ul{
  display: grid;/* スマホ閲覧時のナビはグリッドレイアウト にする */
  grid-template-columns: 1fr 1fr 1fr;/* 上下３つづつ（３列）の２段（２行）にする。frは均等に分割する単位。縦の比率は１対１対１ */
  grid-template-rows: auto;  /* 縦幅はautoにしてコンテンツであるテキストに合わせた高さにする */
  margin: 36px 2px 2px;
  /* ナビの各項目の周りにある白い余白は、ul要素とa要素の２pxづつのマージンで、幅が４pxの白い線の様に見せている */
  padding: 0;/* ul要素とli要素はブラウザによって初期状態の余白のつけられ方が異なっている場合があるので、必要な部分以外の余白は０にしておく */
}

nav li{
  margin: 0;
  padding: 0;  /* ul要素とli要素はブラウザによって初期状態の余白のつけられ方が異なっている場合があるので、必要な部分以外の余白は０にしておく */
}

nav li, nav a{
  display: block;/* li要素はそのままでは行頭記号が表示されるし、a要素はインライン要素で扱いにくいので、両方にdisplay: blockを指定する */
}

nav a{
  margin: 2px;/* ナビの各項目の周りにある白い余白は、ul要素とa要素の２pxづつのマージンで、幅が４pxの白い線の様に見せている */
  padding: 0,4rem 0;
  background: #f3f3f3;/* 淡々グレー */
  text-decoration: none;/* この形式のナビではリンク下線は不要なのでtext-decorationプロパティでa要素の下線を消す */
  font-size: 0,9rem;
}

nav+picture img{
  width: 100vw;/* 画像（セレクタでは「nav直後のpicture要素の中にあるimg要素」の幅を表示領域いっぱい（width: 100vw)にする 。セレクタ１＋セレクタ２→共通の親要素を持つ要素の中で、セレクタ１の直後に現れるセレクタ２の要素という意味*/
  vertical-align: bottom;/* 画像下の隙間（インライン要素のディセンダ領域）を消すための指定 */
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＊メインコンテンツ
＊＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
main{
  margin-bottom: 2,4rem;
  padding-left: 20px;/* 左右両端がつまり過ぎてたので余白を設けた */
  padding-right: 20px;/* 左右両端がつまり過ぎてたので余白を設けた */
}

h1{
  margin-top: 2rem;
  margin-bottom:-20px;/* 見出しの下が間延びしていたので行間を縮めた */
  font-size: 1.1rem;
}

h2{
  margin-top: 2rem;/* main要素とh1要素、h2要素のマージンを指定し、コンテンツの間の間隔を調整 */
  margin-bottom:-20px;/* 見出しの下が間延びしていたので行間を縮めた */
  font-size: 1rem;/* 大きすぎる見出しのフォントサイズも調整 */
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＊フッター
＊＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

footer{
  padding-top: 2rem;  /* 2rem=32px「オンラインショップ」の文字が上きわきわ過ぎたのでフッターの上に余白を設けた。*/
  padding-bottom: 1,4rem;/* 1,4rem=22.4remフッター要素の上下のパディングを調整 */
  background: #f3f3f3;/* フッター要素の背景色をt淡々グレーに */
  padding-left: 20px;/* 文字がきわにつまり過ぎてたので左に余白を設けた */
}

#footlinks ul, #footlinks li{
  display: block;
  margin-left: 0;
  padding-left: 0;/* フッター部分のリンクはul要素だが、行頭記号を非表示にし、見出しも含めて左揃えにしたい。⇨display: blockを指定し、余白も０にしておく */
}

#footlinks h3{
  font-size: 1rem;/* 1rem=16px.見出しのフォントサイズはメインコンテンツ部分に合わせて小さめにする */
}

#footlinks a{
  text-decoration: none;/* リンクは通常は下線が表示されるが非表示にしておく */
}

#footlinks a:hover{
  text-decoration: underline;/* カーソルがホバーした時だけ下線表示させる */
}

#copyright{
  color: #999;
  /* コピーライトは薄グレーの文字色にする */
  text-align: center;
  /* コピーライトは中央寄せにする */
  font-size: 0.82rem;
  /* 0.82rem=13.12px.コピーライトは小さい文字サイズにする */
}
