
/* =======================================================
 *   ページ全体
 * ============================= */

body {
    color: #666;
}
header, main, #footlinks {
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

/* ========================
 *   ヘッダー
 * ======================================================= */

header {
  display: grid;
  grid-template-columns: 176px 1fr;
  grid-template-rows: auto auto;
  }

#logo img {
  vertical-align: baseline;
}


nav ul {
  display: block;
  margin: 0;
      padding: 0;
      text-align: right;
  line-height: 40px;
  }

nav li, nav a {
      display: inline;
}

nav li {
     margin: 0 0.4rem;
}

nav a {
      background: transparent;
       vertical-align: -9px;

}

nav+picture {
    grid-column: 1 / 2;
    grid-row: 2;
  }

nav+picture img {
     width: 1000px;
}


/* =======================================================
 *   メインコンテンツ
 * ======================================================= */

main {
  display: grid;
  /* grid-template-columns: 1fr 1fr;  左記が教科書記載のコードだが、レイアウト崩れ実装不可*/
 grid-template-columns: 500px 50px 440px;
 /* これで実装できた左コンテンツの横幅 /中央余白分 /右側のサブコンテンツ */
  grid-template-rows: auto;
  margin-top: 2.4rem;
}
main > article {
  margin-right: 1.5rem;
}
#sub > article {
  padding: 1rem;
  border: 2px solid #eee;
  border-radius: 8px;
}
#sub > article:first-child {
  margin-bottom: 1rem;
}
#sub > article p {
  margin: 1rem 0 0;
}
h1, h2 {
  margin: 0;
}
h2 {
  padding-left: 1.4rem;
  background: url(images/icon.png) no-repeat left / contain;
}

#sub{
  margin-bottom: 20px;ik7ikjk

}

/* =======================================================
 *   フッター
 * ======================================================= */
